@using LTP.Static.Components
@using LTP.Static.Models
@using LTP.Static.Data
@using BlazorStatic
@using BlazorStatic.Services
@page "/"

<PageTitle>Home</PageTitle>
<div class="container pb-3">
	<div class="row">
		<div class="col-12 col-sm-4">
			<img src="./images/LTPLogo4.png" alt="Lawrencetown Pizza" class="img-fluid" />
			<div class="text-center">
				<a href="https://www.instagram.com/lawrencetownpizza/">
					<img src="./images/icons8-instagram-48.png" alt="Instagram Link" class="pe-3" />
				</a>
				<a href="https://www.facebook.com/lawrencetownpizza/">
					<img src="./images/icons8-facebook-48.png" alt="Facebook Link" class="ps-3" />
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-8 text-center" style="overflow-wrap: break-word;">
			@* <h1 class="outline-font">@_info.Name</h1> *@
			<h2 class="mb-0">@_info.Hours</h2>
			<p class="mb-0">@_info.ExtraInfo[0]</p>
			<h2 class="outline-font">@_info.Phone</h2>
			<h2 class="mb-0">@_info.Address[0]</h2>
			<p>@_info.Address[1]</p>
			<h3>@_info.ExtraInfo[1]</h3>
		</div>
	</div>
</div>


<nav class="nav justify-content-center" id="topnav">
	@foreach (var category in _menu)
	{
		<a class="nav-link" href="#@category.Name.Replace(" ","")">@category.Name</a>
		<div class="vr"></div>
	}
	<a class="nav-link" href="#Specials">Specials</a>
</nav>
<hr />
<div class="menu-catagories">
	<p>@_info.ExtraInfo[2]</p>
	@foreach (var category in _menu)
	{
		<MenuCatagoryComp Category=@category />
	}
</div>

<span class="fs-3 fw-bold">Specials</span>
<div class="specials row" id="Specials">
	@foreach(var special in SpecialsData.GetSpecials())
	{
		<SpecialComp SpecialItem=@special />
	}
</div>

@code{
	private GeneralInfo? _info;
	private MenuCatagory[]? _menu;
	//private Specials _specials;

	protected override void OnInitialized()
	{
		_info = new GeneralInfo
			{
				Name = "Lawrencetown PIZZA",
				Phone = "902-435-4011",
				Address = ["3726 Lawrencetown Road", "(Just past the Community Center)"],
				Hours = "Kitchen Open Daily at 11am",
				ExtraInfo = ["Pick-up only",
							"We Make Homemade Deserts Daily!",
							"*Prices and Specials may change without notice"		
				],

			};

		_menu = MenuData.GetMenu();


	}	
}
