@using LTP.Static.Components
@using LTP.Static.Models
@using LTP.Static.Data
@using BlazorStatic
@using BlazorStatic.Services
@page "/"

<PageTitle>Home</PageTitle>
<div class="container pb-3">
	<div class="row">
		<div class="col-12 col-sm-4">
			<img src="@(WebsiteKeys.LinkAppend)images/LTPLogo4.png" alt="Lawrencetown Pizza" class="img-fluid" />
			<div class="text-center">
				<a href="https://www.instagram.com/lawrencetownpizza/">
					<img src="@(WebsiteKeys.LinkAppend)images/instagram.svg" alt="Instagram Link" class="" height="42" width="48" />
				</a>
				<a href="https://www.facebook.com/lawrencetownpizza/">
					<img src="@(WebsiteKeys.LinkAppend)images/facebook.svg" alt="Facebook Link" class="mx-3" height="37" width="37" />
				</a>
				<a id="photosLink">
					<img src="@(WebsiteKeys.LinkAppend)images/pictures.svg" alt="Photo Gallary" height="58" width="58" />
				</a>
			</div>
		</div>
		<div class="col-12 col-sm-8 text-center" style="overflow-wrap: break-word;">
			<h2 class="mb-0">@_info.Hours</h2>
			<p class="mb-0">@_info.ExtraInfo[0]</p>
			<a href="tel:@_info.Phone" class="phone">
				<h2 class="outline-font">@_info.Phone</h2>
			</a>
			<h2 class="mb-0">@_info.Address[0]</h2>
			<p>@_info.Address[1]</p>
			<h3>@_info.ExtraInfo[1]</h3>
		</div>
	</div>
</div>

<div id="gallary" class="modalGallary">


	<!-- Modal content -->
	<div class="modalGallary-content row">
		<div>
			@foreach (var category in _menu)
			{
				string categoryName = category.Name.Replace(" ", "");
				string imgId = categoryName;
				@foreach (var pic in category.Pictures)
				{
					<a href="#@(categoryName)" id="img@(imgId)"><img src="@(WebsiteKeys.LinkAppend)images/@(pic)" class="rounded mb-4 img-fluid" /></a>
					imgId = categoryName + "x";
				}
			}
		</div>
	</div>

</div>

<nav class="nav justify-content-center" id="topnav">
	@foreach (var category in _menu)
	{
		<a class="nav-link" href="@(WebsiteKeys.LinkAppend + "#" + category.Name.Replace(" ",""))">@category.Name</a>
		<div class="vr"></div>
	}
	<a class="nav-link" href="@(WebsiteKeys.LinkAppend)#Specials">Specials</a>
</nav>
<hr />
<div class="menu-catagories">
	<p>@_info.ExtraInfo[2]</p>
	@foreach (var category in _menu)
	{
		<MenuCatagoryComp Category=@category />
	}
</div>

<span class="fs-3 fw-bold">Specials</span>
<div class="specials row" id="Specials">
	@foreach(var special in SpecialsData.GetSpecials())
	{
		<SpecialComp SpecialItem=@special />
	}
</div>

@code{
	private GeneralInfo? _info;
	private MenuCatagory[]? _menu;

	protected override void OnInitialized()
	{
		_info = new GeneralInfo
			{
				Name = "Lawrencetown PIZZA",
				Phone = "902-435-4011",
				Address = ["3726 Lawrencetown Road", "(Just past the Community Center)"],
				Hours = "Kitchen Open Daily at 11am",
				ExtraInfo = ["Pick-up only",
							"We Make Homemade Deserts Daily!",
							"*Prices and Specials may change without notice"		
				],

			};

		_menu = MenuData.GetMenu();


	}	
}
